term_project/eatable
term_project/main_2.py
term_project/main.py
term_project/heart
term_project/noneatable
term_project/obj.py
term_project/folder.py
term_project/hand_landmarker.task
term_project/images/st*
term_project/stereoMap.xml